
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    box-sizing: border-box;
  }
  
  
  body {
    min-height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: grey;
  }
  
  
  .card {
    width: 400px;
    height: 400px;
    background-color: rgb(162, 255, 0);
    border-radius: 12px;
    padding: 28px;
    border: 10px;
    border-color: #000 ;
  }
  

  .search-box {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-self: center;

    
    
  }
  
  .search-box input {
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: aliceblue;
    padding: 12px 16px;
    border-radius: 14px;
  }
  
  .search-box input::placeholder {
    color: #000;
  }
  
  .search-box box-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
  }
  
  box-icon:hover {
    background-color:whitesmoke;
  }
  

  .weather-image {
    width: 100px;
    margin-left: 35%;
    
  }
  
  
  .weather-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
  }
  
  
  .weather-box {
    margin-block: 20px;
    text-align: center;
  }
  
  
  .temperature {
    font-size: 40px;
    font-weight: 900;
    position: relative;
  }
  
  .temperature sup {
    font-size: 20px;
    position: absolute;
    font-weight: 600;
  }
  

  .weather-box .description {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .weather-detail {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    column-gap: 100px;
  }
  
  .weather-detail .text {
    font-size: 16px;
  }
  
  .weather-detail i {
    font-size: 36px;
  }
  
  .text span {
    font-size: 20px;
    font-weight: 700;
  }
  